.input-common {
  position: relative;
}

.input-common .title {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 9;
  background: #fff;
  transition: all 0.3s ease;
}


.input-common.focused .title {
  top: -12px;
  left: 20px;
  font-size: 16px;
  padding: 0 3px;
}

.input-common.focused .title .label {
  color: #0B80F3;

}

.input-common .title .is-required,
.select-common .title .is-required {
  color: #FF1422;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15px;
}

.input-common .title .label,
.select-common .title .label {
  color: #545e7d66;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;
}


.input-common input.ant-input.ant-input-outlined,
.input-common .ant-input-number,
.input-common .ant-picker.ant-picker-middle.input-date-common,
.input-common .ant-input-affix-wrapper {
  border-radius: 8px !important;
  height: 44px;
  width: 100%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: relative;
  border: 1px solid #CBD0DC;
}

.input-common input.ant-input-number-input {
  border-radius: 6px !important;
  height: 44px;
  width: 100%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: relative;
}

.input-common.focused input.ant-input.ant-input-outlined,
/* .input-common.focused input.ant-input, */
.input-common.focused .ant-input-number,
.input-common.focused .ant-picker,
.input-common.focused span.ant-input-affix-wrapper.ant-input-outlined.ant-input-password {
  /* border-top: 1px solid #72b6f6;
  border-left: 1px solid #1890ff;
  border-right: 1px solid #1890ff; */
  border: 2px solid #1890ff;
}

/* .input-common input.ant-input.ant-input-outlined::placeholder,
.input-common .ant-input-number::placeholder,
.input-common .ant-input-number::placeholder,
.input-common .ant-picker.ant-picker-middle.input-date-common::placeholder,
.input-common .ant-input-affix-wrapper::placeholder,
.input-common .ant-input-outlined.ant-input-password::placeholder {
  font-size: 12px;
} */

.input-common .ant-input-outlined.input-error,
.input-common .ant-input-number.input-error,
.input-common .ant-input-number.input-error,
.input-common .ant-picker.ant-picker-middle.input-date-common.input-error,
.input-common .ant-input-affix-wrapper.input-error,
.input-common .input-error .ant-select-selector,
.input-common .input-error .input-date-common.input-error {
  border: #f16161 solid 2px !important;
}

.input-common input.ant-input.ant-input-outlined,
.input-common textarea.ant-input,
.input-common span.ant-select-selection-item,
.input-common .ant-picker .ant-picker-input>input,
.input-common input.ant-input-number-input,
.input-common input.ant-input {
  color: var(--00-on-surface-high-emphasis, #000000de);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: 0.15px;
}

.input-common span.ant-input-affix-wrapper.ant-input-password.ant-input-password-middle {
  border-radius: 0;
}

.input-array-custom-common input.ant-input {
  border: none;
  border-bottom: 1px solid #25252535 !important;
  border-radius: 0;

  color: #000000de;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.input-array-custom-common input.ant-input:focus {
  border: none;
}

.input-array-custom-common .custom-input:focus,
.input-array-custom-common .custom-input-focused {
  border-color: transparent !important;
  box-shadow: none !important;
}

.upload-common .card .ant-upload {
  background-color: white;
  border: 3px solid #0d9e6d;
}

.upload-common .circle .ant-upload {
  background-color: white;
  border: 3px solid #0d9e6d;
  border-radius: 50%;
}

.upload-common .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
  width: 100%;
}

.input-common-picker .title .label {
  color: #545E7D;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;
}

.upload-common .btn-primary {
  border-color: #ff3f3f !important;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff3f3f !important;
  border-color: #ff3f3f !important;
}

/* .upload-common input {
  opacity: 0;
} */

/****** IGNORE ******/


/****** CODE ******/

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.file-upload .file-select {
  display: flex;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  /* height: 60px; */
  /* line-height: 60px; */
  font-size: 14px;
  font-weight: 500;
}

.file-upload .file-select .file-select-name {
  line-height: 60px;
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}

.file-upload .file-select:hover {
  border-color: #34495e;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 60px;
  display: inline-block;
  padding: 0 10px;
}