.input-common .title,
.select-common .title {
  text-align: left;
}

.input-common .title .is-required,
.select-common .title .is-required {
  color: #FF1422;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15px;
}

.input-common .title .label,
.select-common .title .label {
  color: #094174;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;
}

.input-common input.ant-input.ant-input-outlined,
.input-common .ant-input-number,
.input-common .ant-input-number,
.input-common .ant-picker.ant-picker-middle.input-date-common,
.input-common .ant-input-affix-wrapper {
  border-radius: 4px !important;
  height: 36px;
}

/* .input-common input.ant-input.ant-input-outlined::placeholder,
.input-common .ant-input-number::placeholder,
.input-common .ant-input-number::placeholder,
.input-common .ant-picker.ant-picker-middle.input-date-common::placeholder,
.input-common .ant-input-affix-wrapper::placeholder,
.input-common .ant-input-outlined.ant-input-password::placeholder {
  font-size: 12px;
} */

.input-common .ant-input-outlined.input-error,
.input-common .ant-input-number.input-error,
.input-common .ant-input-number.input-error,
.input-common .ant-picker.ant-picker-middle.input-date-common.input-error,
.input-common .ant-input-affix-wrapper.input-error,
.input-common .input-error .ant-select-selector,
.input-common .input-error .input-date-common.input-error {
  border: #f61a1a solid 1px !important;
}

.input-common input.ant-input.ant-input-outlined,
.input-common textarea.ant-input,
.input-common span.ant-select-selection-item,
.input-common .ant-picker .ant-picker-input>input,
.input-common input.ant-input-number-input,
.input-common input.ant-input {
  color: var(--00-on-surface-high-emphasis, #000000de);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: 0.15px;
}

.input-common span.ant-input-affix-wrapper.ant-input-password.ant-input-password-middle {
  border-radius: 0;
}

.input-array-custom-common input.ant-input {
  border: none;
  border-bottom: 1px solid #25252535 !important;
  border-radius: 0;

  color: #000000de;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.input-array-custom-common input.ant-input:focus {
  border: none;
}

.input-array-custom-common .custom-input:focus,
.input-array-custom-common .custom-input-focused {
  border-color: transparent !important;
  box-shadow: none !important;
}