@media only screen and (min-width: 1600px) {
    .homepage-container .padding-common {
        padding: 0 300px;
    }

}

@media only screen and (min-width: 1401px) and (max-width: 1599px) {
    .homepage-container .padding-common {
        padding: 0 150px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
    .homepage-container .padding-common {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 992px) {
    .homepage-container .padding-common {
        padding: 0 80px;
    }
}

@media only screen and (max-width: 768px) {
    .homepage-container .padding-common {
        padding: 0 20px;
    }
}

.homepage-container .title {
    animation: showTitle 1s both ease-out 1;
}

@keyframes showTitle {
    0% {
        transform: scale(0);
        opacity: 0.3;
    }

    90% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.homepage-container .content .introduce .left {
    animation: leftTo 1s both ease-out 1;
}

.homepage-container .content .introduce .right {
    animation: rightTo 1s both ease-out 1;
}

@keyframes leftTo {
    0% {
        transform: translateX(-100%);
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        transform: translateX(20%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes rightTo {
    0% {
        transform: translateX(100%);
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        transform: translateX(-20%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

.banner {
    position: relative;
    width: 100%;
    /* height: 50dvh; */
    background: radial-gradient(ellipse at bottom, #01a6ff50 0%, #01a6ff 100%);
    overflow: hidden;
    margin-bottom: 40px;
}

.banner .shooting-star {
    position: absolute;
    top: -10px;
    left: 5%;
    width: 3px;
    height: 120px;
    background: linear-gradient(-45deg, #fff, rgba(255, 255, 255, 0));
    border-radius: 50%;
    transform: rotate(45deg);
    animation: shooting-star 2.5s linear infinite;
}

.banner .shooting-star:nth-child(2) {
    top: -20px;
    left: 20%;
    animation-delay: 1s;
}

.banner .shooting-star:nth-child(3) {
    top: -15px;
    left: 30%;
    animation-delay: 2s;
}

.banner .shooting-star:nth-child(4) {
    top: -5px;
    left: 55%;
    animation-delay: 4.3s;
}

.banner .shooting-star:nth-child(5) {
    top: -20px;
    left: 80%;
    animation-delay: 3s;
}

.banner .shooting-star:nth-child(6) {
    top: -10px;
    left: 95%;
    animation-delay: 4s;
}

@keyframes shooting-star {
    0% {
        transform: translateX(0) translateY(0) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateX(-400px) translateY(400px) rotate(45deg);
        opacity: 0;
    }
}

.homepage-container .banner .left {
    animation: bannerLeftTo 1s both ease-out 1;
}

.homepage-container .banner .right {
    animation: bannerRightTo 1s both ease-out 1;
}

.homepage-container .banner .text {
    animation: bannerTitle 1s both ease-out 1;
}

@keyframes bannerLeftTo {
    0% {
        transform: translateX(-100%);
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        transform: translateX(20%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes bannerRightTo {
    0% {
        transform: translateX(100%);
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        transform: translateX(-20%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes bannerTitle {
    0% {
        transform: scale(0);
        opacity: 0.3;
    }

    90% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.homepage-container .video .text {
    position: relative;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #121212;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
}

.homepage-container .video .text.animate {
    animation: videoText 0.5s both ease-out 1;
}

.homepage-container .video .text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #01a6ff;
    border-radius: 8px;
    border-radius: 8px;
    z-index: -1
}

.homepage-container .video .animate.text::before {
    animation: videoTitle 0.5s forwards ease-out 1;
}


@keyframes videoTitle {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes videoText {
    0% {
        color: #121212;
    }

    100% {
        color: #FFFFFF;
    }
}