.auth-page {
    position: relative;
}

@media only screen and (min-width: 1600px) {

    .auth-page .padding-common {
        padding: 0 200px;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1599px) {

    .auth-page .padding-common {
        padding: 0 120px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {

    .auth-page .padding-common {
        padding: 0 60px;
    }
}


@media only screen and (max-width: 992px) {

    .auth-page .padding-common {
        padding: 0px 100px 80px;
    }
}

@media only screen and (max-width: 768px) {

    .auth-page .padding-common {
        padding: 0px 50px 80px;
    }

    .profile-container .padding-link {
        padding: 0px 50px 80px;
    }

    .auth-page .cover {
        display: none;
    }

    .auth-page .page.register {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: transform 0.5s ease-in-out;
    }

    .auth-page .page.register.up {
        transform: translateY(0%);
    }

    .auth-page .page.register.down {
        transform: translateY(100%);
    }
}

@media only screen and (max-width: 425px) {

    .auth-page .padding-common {
        padding: 0px 20px 80px;
    }
}

.auth-page .cover {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 12;
    transition: all 0.5s ease-in-out;
}

.auth-page .cover .cover-img {
    background-image: url("../../images/phone.png");
    background-color: #17adfe;
    border-left: 1px solid #17adfe;
}

/* .auth-page .cover .cover-img .switch {
    background-color: #17adfe;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.auth-page .cover.login .cover-img .switch {

    right: -36px;
    top: 50%;
}

.auth-page .cover.register .cover-img .switch {
    left: -36px;
    top: 50%;
}

.auth-page .cover .cover-img .switch span {
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
} */

.auth-page .page.login,
.auth-page .page.register {
    background: #FFF;
    z-index: 12;
}

.auth-page .cover.login {
    top: 0;
    transform: translateX(-100%);
}

.auth-page .cover.register {
    top: 0;
    transform: translateX(0%);
}